<div class="giscus">
  <script src="https://giscus.app/client.js"
          data-repo="mbrg/mbgsec"
          data-repo-id="R_kgDOKE-UIw"
          data-category="Announcements"
          data-category-id="DIC_kwDOKE-UI84CveRP"
          data-mapping="pathname"
          data-strict="1"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="top"
          data-theme="preferred_color_scheme"
          data-lang="en"
          data-loading="lazy"
          crossorigin="anonymous"
          async>
  </script>
</div>